.post-body{
    margin: 1em 30%;
    background-color:  #D7FFF1;
}

.post-profile{
    height: auto;
    margin: 1em;
    background-color: #B3E8BC;
    border-radius: 10px;
}

@media(max-width: 900px) {
}