@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

/* GENERAL STYLING
*/
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
}

p, a, button, option, .filter-item select {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*********************************************************************************/
/* Media 375px                                                                   */
/*********************************************************************************/
@media (min-width: 375px) {
  * {
    box-sizing: border-box;
  }

  /* Header and LogIn*/

  #logo {
    color: #8db596;
  }

  h1 {
    margin: 0;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
  }

  .row {
    width: 100%;
  }

  #logo {
    height: 70%;
    margin: auto;
    justify-content: center;
  }

  #login {
    width: 100%;
    padding-top: 5%;
    justify-content: center;
    margin: auto;
  }

  button {
    color: #8db596;
    background-color: white;
    border-radius: 5px;
    border-color: #8db596;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: 50%;
  }

  button:hover {
    opacity: 0.8;
    color: white;
    background-color: #8db596;
  }

  /* Mission Statement*/
  h2.row {
    text-align: center;
  }

  .MissionStatement {
    justify-content: center;
  }

  /* Dashboard Filters */
  .filters {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
  }

  .filter-item {
    width: 20rem;
  }

  .filter-item select {
    width: 85%;
  }

  .filter-btn-container {
    text-align: center; 
  } 
  .filter-btn {
    width: 25%;
  }

  /* Mentor List */

  .mentor-img {
    width: 20.625rem;
    height: 12.5rem;
  }

  .image-container {
    position: absolute; 
  }

  .mentor-results {
    display: flex; 
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 5rem; 
    margin-right: 5rem;
    justify-content: center;
  }

  .card {
    margin-bottom: 2rem;
  }

  .mentor-info {
    display: flex; 
    flex-direction: row; 
    align-items: center;  
  }

  .details-container {
    margin-left: 2rem; 
  }

  .interests {
    margin-bottom: 0; 
  }

  .age {
    margin-top: 1rem; 
  }

  .mentor-btn-container {
    display: flex; 
    flex-direction: row; 
    margin-top: 2rem; 
    justify-content: space-evenly;
  }

  .message-btn, .remove-btn {
    width: 30%; 
  }

  .remove-btn {
    color: #df7c82;
    background-color: white;
    border-color:#df7c82;
  }

  .remove-btn:hover {
    opacity: 0.8;
    color: white;
    background-color: #df7c82;
  }

  .mentor-results .hide {
    display: none; 
  }

}


/*********************************************************************************/
/* media 768px                                                                   */
/*********************************************************************************/
@media (min-width: 768px) {
}

/*********************************************************************************/
/* media 1200px                                                                  */
/*********************************************************************************/
@media (min-width: 1200px) {
}

